.about {
	font-size: 1.5rem;
	padding: 1rem;
}
.about p {
	margin-top: 1rem;
}

.avatar {
	border-radius: 100%;
	max-height: 250px;
}

.bd {
	font-size: 3rem;
}

.container {
	margin-top: 2rem;
	color: whitesmoke;

	height: 100%;
}

.pic {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	background: rgba(0, 0, 0, 0.8);
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row,
.col {
	background: rgba(255, 255, 255, 0.2);
	padding: 2rem;
}

.card {
	background: rgba(255, 255, 255, 0.2) !important;
}

.secondRow {
	padding: 2rem 0;
	display: flex;
	justify-content: space-around;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.col {
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
	}

	.header,
	.card {
		-webkit-backdrop-filter: blur(10px) !important;
		backdrop-filter: blur(10px) !important;
	}
}
